{% extends "blog/base.html" %}


{% block content %}
    <div class="jumbotron mt-4 col-lg-10 mx-auto animated bounceIn">
        <h2 class="display-4">About This App</h2>
        <p class="lead">This App was built in the process of exploring Django - An awesome python web framework. </p>
        <hr class="my-4">
        <p class="text-justify">
            I love experimenting with new technologies and programming languages. I had been 
            reading blogs about Django framework since sometime, but had not tried it out.
            I was thinking, it would be a great exprience if I could build something out of it.
            And then, one thing I knew, I kept exploring this framework. Youtube, Google And
            even StackOverflow came to my rescue. I must say, I haven't done with it yet. I wish to 
            explore even more functionalities and intricacies related to this framework.
            
        </p>
        <p>With this App you can - </p>
        <ul>
            <li>Create your profile.</li>
            <li>Add your Profile Pic.</li>
            <li>Create, View, Update and Delete Posts.</li>
            <li>Add a photo to your posts too!</li>
            <li>Change your password in case you forget it!</li>
        </ul>
        <!-- <a class="btn teal accent-3" href="#" role="button">Learn more</a> -->
    </div>
{% endblock content %}    
    



