{% extends "blog/base.html" %}


{% block content %}
    
    
        <div class="card mt-5 mb-5 col-md-10 mx-auto m-3 animated fadeIn">
                
            <div class="card-body">
              <img class="mr-2" src="{{ object.author.profile.image.url }}" style="width: 65px; height: 65px; float: left;">
            
              <h2>{{ object.title }}</h2>
              <div>
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                
              </div>
              <hr/>
              
              <!-- <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                  <img class="img-fluid mx-auto" src="{{ object.image.url }}" alt="Sample image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
              </div>
              <br>
              <p class="dark-text">{{ object.content }}</p> -->


              <div class="row">
                  <!-- Grid column -->
                  <div class="col-lg-5 col-xl-4">
        
                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-5 mb-4">
                      <img class="img-fluid" src="{{ object.image.url }}" alt="Sample image">
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
              
                  </div>
                  <br><br>
                  <!-- Grid column -->
                  <div class="col-lg-7 col-xl-8">
        
                      <!-- Post title -->
                      <!-- <h3 class="font-weight-bold mb-3"><strong><a class="text-dark" href="{% url 'post-detail' post.id%}">{{ post.title }}</a></strong></h3>
                      Excerpt -->
                      
                        <!-- <img src="{{ post.image.url }}" alt="Image" width="400px" height="300px"/> -->
                       
                      <p class="dark-grey-text"><i class="fas fa-quote-left text-dark mr-2"></i>{{ object.content }}<i class="fas fa-quote-right text-dark ml-2"></i></p>
                      <!-- Post data -->
                     
                      <hr/>
                  </div>
                  
            </div> 


              
              
              <div class="container text-center">
                {% if object.author == user %}
                    <a href="{% url 'post-update' object.id %}" class="btn btn-dark btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="Hello {{ request.get_full_path }}">
                        <i class="fas fa-share-alt"></i>
                    </button>
                {% endif%}
              </div>
            </div>
        </div>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Sharing Link</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="md-form">
                  <input type="text" class="form-control" id="recipient-name">
                  <p></p>
                </div>
                <!-- <div class="md-form">
                  <textarea type="text" id="message-text" class="form-control md-textarea" rows="3"></textarea>
                </div> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
    
{% endblock content %}    
    