{% extends "blog/base.html" %}


{% block content %}
    
    
        <div class="card col-md-10 mx-auto m-3">
            <div class="card-body">
              <div>
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2>{{ object.title }}</h2>
              <p class="lead">{{ object.content }}</p>
            </div>
        </div>
    
{% endblock content %}    
    