{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <!-- <div class="container mt-5 pt-5 col-md-6">
            <h2>Instructions</h2>
            <hr>
            <ul>
                <li><p class="lead">Enter your email</p></li>
                <li><p class="lead">You'll receive a password reset email</p></li>
                <li><p class="lead">Go to your mail and click on the link to reset your password</p></li>
            </ul>  
        </div> -->
        <div class="jumbotron mt-5 col-md-6 mx-auto animated bounceIn">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-light teal accent-3" type="submit">Reset Password</button>
                </div>
            </form>
            
        </div>
    </div>    
{% endblock content %}    
    



