{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="jumbotron col-lg-8 mx-auto mt-5">
        <div class="col-lg-12 text-center mb-4">
            <img class="profile_img mx-auto" src="{{ user.profile.image.url }}" style="width: 185px; height: 180px; border-radius: 50%">
        </div>
        
        <div class="col-lg-6 mx-auto">
            <h2 class="account-heading text-center">{{ user.username }}</h2>
            <p class="text-secondary text-center">{{ user.email }}</p>
        </div>
        
    <!-- FORM HERE -->
        <div class="mx-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    <div className="col-lg-6">{{ p_form|crispy }}</div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-light teal accent-3" type="submit">Update</button>
                </div>
            </form>
        </div>    
    </div>
  
{% endblock content %}    
    



